* {
    position: relative;
}
body {
    background-color: #02055a;
}
h1 {
    font-family: lobster;
    font-size: 10vh;
    text-align: center;
    margin-top: 2vh;
    font-weight: 10;
    margin-bottom: 0vh;
}
h2 {
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
    font-size: 8vh;
    text-align: center;
    margin: 1vh;
}
h3 {
    text-align: center;
    font-size: 6.5vh;
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
    position: relative;
    top: 10vh;
}
#project1 {
    display: inline-block;
    margin-top: 10vh;
}
#projects_container {
    align-self: center;
}
.project_name {
    display: inline-block;
    position: relative;
    right: 2vw;
    text-align: left;
    bottom: 26vh;
    font-size: 9vh;
    font-family: "Courier New", Courier, monospace;
    background-color: #1167b1;
    width: 30vw;
    text-align: center;
    padding: right 0.5vw, left 0.5vw;
    padding-top: 1vh;
    padding-bottom: 1vh;
    font-weight: bold;
    opacity: 0.8;
    transition: 1000ms;
    transform: translateY(100px);
}
#projects_container {
    align-content: center;
    width: 60vw;
    position: relative;
    left: 15vw;
}
#project_ending {
    top: -130vh;
}
.projects_title {
    right: 20vw;
    margin-bottom: 10vh;
    font-size: 10vh;
    top: 5vh;
    text-align: left;
    transition: 1000ms;
    transform: translateY(100px);
}
#bootcamp_certificate {
    width: 20vw;
    height: auto;
    position: relative;
    top: 5vh;
    left: 40vw;
}
.project_image {
    width: 20vw;
    padding: 5vh;
    background-color: #b0dbf1;
    opacity: 0.8;
    transition-duration: 1000ms;
    transition: 1000ms;
    transform: translateY(100px);
}
.project_image:hover {
    width: 23vw;
    background-color: #ffffff;
}
.project_desc {
    width: 25vw;
    font-size: 2.5vh;
    font-weight: bolder;
    display: inline-block;
    left: 24vw;
    bottom: 39vh;
    background-color: #111694;
    padding: 2vh;
    font-family: "Courier New", Courier, monospace;
    opacity: 0.8;
    transition: 1000ms;
    transform: translateY(100px);
}
.Project {
    color: #f0f8ff;
    margin: 0;
    padding: 0;
}
.Project2 {
    color: #f0f8ff;
    bottom: 30vh;
}
.project_name2 {
    display: inline-block;
    position: relative;
    left: -33vw;
    text-align: left;
    bottom: 26vh;
    font-size: 9vh;
    font-family: "Courier New", Courier, monospace;
    background-color: #1167b1;
    width: 30vw;
    text-align: center;
    padding: right 0.5vw, left 0.5vw;
    padding-top: 1vh;
    padding-bottom: 1vh;
    font-weight: bold;
    opacity: 0.8;
    transition: 1000ms;
    transform: translateY(100px);
}
.project_desc2 {
    width: 25vw;
    font-size: 2.5vh;
    font-weight: bolder;
    display: inline-block;
    right: 6vw;
    bottom: 39vh;
    background-color: #111694;
    padding: 2vh;
    font-family: "Courier New", Courier, monospace;
    opacity: 0.8;
    transition: 1000ms;
    transform: translateY(100px);
}
.project_image2 {
    width: 20vw;
    padding: 5vh;
    background-color: #b0dbf1;
    opacity: 0.8;
    left: 20vw;
    transition-duration: 1000ms;
    transform: translateY(100px);
}
.project_image2:hover {
    width: 23vw;
    background-color: #ffffff;
}
#project_3 {
    bottom: 60vh;
}
#project_4 {
    bottom: 90vh;
}

.background_pic {
    width: 98.6vw;
    height: 130vh;
    position: absolute;
    left: -0.5vw;
    top: -2vh;
    z-index: -1;
    opacity: 1;
    filter: blur(6px);
}
#blur2 {
    top: 4vh;
    opacity: 0.8;
    filter: blur(7px);
    z-index: -2;
}
#blur3 {
    top: 8vh;
    opacity: 0.7;
    filter: blur(9px);
    z-index: -2;
}
#blur4 {
    top: 10vh;
    opacity: 0.6;
    filter: blur(11px);
    z-index: -2;
}
#blur4 {
    top: 12vh;
    opacity: 0.5;
    filter: blur(12px);
    z-index: -2;
}
.reveal {
    opacity: 0;
    transform: translateY(100px);
    transition-duration: 1000ms;
}
.active {
    transform: translateY(0px);
    opacity: 1;
}
#profile_section {
    position: relative;
    bottom: 140vh;
    margin-left: 10vw;
}
.about_title {
    font-size: 10vh;
    right: 36vw;
}
#profile_pic {
    left: 36vw;
    bottom: 36vh;
    z-index: 5;
}
#hexagons {
    width: 40vw;
    left: 10vw;
}
#hexagon_picture {
    top: 35vh;
}
.about_me_thing {
    width: 20vw;
    border-color: #b0dbf1;
    border-width: 4px;
}
.thing_desc {
    font-size: 3vh;
    font-weight: bold;
    color: #b0dbf1;
    top: 4vh;
    text-align: center;
}
.thing_title {
    color: #ffffff;
}
@media screen and (max-width: 1420px) {
    .project_name {
        right: 8.5vw;
    }
}
